*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(39, 36, 36);
    height: 30px;
    padding: 15px 0;
}
.buttongroup {
    margin-right: 50px;
}
.buttongroup button {
    border-radius: 50%;
    font-size: 12px;
    width: 23px;
    height: 23px;
    padding: 2px;
    border-style: none;
    background-color: white;
    transition: .9s;
    cursor: pointer;
}
.buttongroup button:hover {
    background-color: #ff9933;
}
.phone_number {
    font-size: 20px;
    color: white;
    margin-left: 50px;
    font-weight: 300;
}
.phone_number a {
    color: white;
    transition: .3s;
}
.phone_number a:hover {
    color: #ff9933;
}
.phone_number i {
    color: #ff9933;
    font-size: 16px;
}
.header2{
    background-color: white;
    margin: 30px 0px 20px 0px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}
.brand a {
    font-size: 55px;
    color: #535353;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    display: flex;
}
.brand a img {
    margin-right: 20px;
}
.header2 .menu a{
    font-size: 20px;
    color: black;
    justify-content: center;
    margin: 20px;
}
.header2 .menu a:hover{
    border-bottom: 3px solid #ff9933;
    padding-bottom: 15px;
}
.donate button{
    border: 2px solid #ff9933 ;
    width: 160px;
    color: #ff9933;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
}
.donate button:hover{
    background-color: #7ABEE9;
    border: #7ABEE9;
    color: white;
}
.arrow {
    width: 58px;
    height: 58px;

    position: fixed;
    right: 20px;
    bottom: 40px;
    margin: auto;
    background-color: #ff9933;
    border-radius: 3px;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.phone{
    width: 65px;
    height: 65px;
    font-size: 60px;

    position: fixed;
    left: 20px;
    bottom: 40px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 3px 5px #535353;

    color: #ff9933;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.cat{
    background-image: url(image/cat.jpg);
    background-position: center;
    background-size: 125%;
    background-repeat: no-repeat;
}
.cat img{
    max-width: 100%;
}
.catword-text1{
    margin: 0;
    padding-top: 195px;
    padding-left: 50px;
    font-size: 50px;
    color: #535353;
    font-weight: 700;
}
.catword-text2{
    margin: 0;
    padding-left: 50px;

    font-size: 80px;
    color: #7ABEE9;
    font-weight: 700;
}
.catword-text3{
    margin: 0;
    padding-left: 50px;
    padding-bottom: 30px;

    font-size: 24px;
    color: #535353;
}
.catword-text4{
    margin-left: 50px;
    margin-bottom: 180px;

    border: 2px solid #ff9933 ;
    width: 200px;
    color:#ffffff;
    padding: 20px ;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff9933;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s;
}
.catword-text4:hover{
    background-color:black;
    border: black;
}
.about{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.about img{
    height: 564px;
    width: 570px;
    max-width: 100%;
    position: relative;
    padding: 0 15px;
}
.about-text{
    width: 570px;
    position: relative;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 90px;
}
.about-text1{
    font-size: 50px;
    font-weight: 700;
    color: #535353;
    margin: 0;
    padding-top: 10px;
}
.about-text2{
    font-size: 30px;
    color: #7ABEE9;
}
.about-text3{
    font-size: 14px;
    color: #8d8d8d;
    padding-bottom: 15px;
}
.about-text4{
    font-size: 14px;
    color: #8d8d8d;
    padding-bottom: 30px;
}
.about-text5{
    margin-bottom: 140px;

    border: 2px solid #ff9933 ;
    width: 200px;
    color:#ffffff;
    padding: 20px ;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff9933;
    border-radius: 2px;
    cursor: pointer;
}
.about-text5:hover{
    background-color:black;
    border: black;
}

.help{
    background-color: #f9f9f9;
    text-align: center;
    margin: 0;
}
.help-text1{
    font-size: 50px;
    font-weight: 700;
    color: #535353;
    margin: 0;
    padding-top: 90px;
}
.help-text2{
    font-size: 30px;
    color: #7ABEE9;
    margin: 0;
    padding-bottom: 30px;
}
.catphoto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 55px;
    padding-bottom: 60px;
    padding-left: 55px;
}
.sleepcat {
    position: relative;
    height: 502px;
    width: 372px;
}
.girl_dog {
    position: relative;
    height: 502px;
    width: 372px;
}
.women_cat{
    position: relative;
    height: 502px;
    width: 372px;
}
.cover {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .7s;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cover:hover {
    background-color: rgba(27, 24, 24, .8);
}
.cover a{
    font-size: 34px;
    padding: 30px;
    text-decoration: none;
    color: white;
    transition: .7s;
}
.cover a:hover{
    color: #ff9933;
}
.volunteer{
    display: flex;
    /* align-items: center;這是垂直置中 */
    justify-content: space-between;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 55px;
    margin: 0;
}
.volunteer-text1{
    margin: 0;
}
.volunteer-text2{
    margin: 0;
}
.volunteer-word1{
    padding-bottom: 40px;
    margin: 0 0;
    font-size: 50px;
    font-weight: 700;
    color: #535353;
    text-align: right;
}
.volunteer-text2 img{
    height: 371.6px;
    padding-right: 30px;
}
.volunteer-word2{
    margin: 0;
    width: 537px;

    font-size: 14px;
    color: #8d8d8d;
    padding-top: 30px;
    padding-bottom: 50px;
}
.volunteer-button{
    margin-bottom: 140px;

    border: 2px solid #ff9933 ;
    width: 200px;
    color:#ffffff;
    padding: 20px ;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff9933;
    border-radius: 2px;
    cursor: pointer;
}
.volunteer-button:hover{
    background-color:black;
    border: black;
}

.event{
    background-image: url(image/asset\ 3.jpeg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px;
    height: 400px;
}
.event-text1{
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 50px;
    color: #535353;
    font-weight: 700;
}
.event-text2{
    margin: 0;
    padding-left: 50px;

    font-size: 60px;
    color: #7ABEE9;
    font-weight: 700;
}
.event-text3{
    margin: 0;
    padding-left: 50px;
    padding-bottom: 30px;

    font-size: 24px;
    color: #535353;
}
.event-button1{
    margin-left: 50px;
    margin-bottom: 180px;

    border: 2px solid #ff9933 ;
    width: 200px;
    color:#ffffff;
    padding: 20px ;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff9933;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s;
}
.event-button1:hover{
    background-color: #7ABEE9;
    border: #7ABEE9;
    color: white;
}
.event-button2{
    margin-left: 50px;
    margin-bottom: 180px;

    border: 2px solid #ff9933 ;
    width: 200px;
    color:#ffffff;
    padding: 20px ;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff9933;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s;
}
.event-button2:hover{
    background-color: #7ABEE9;
    border: #7ABEE9;
    color: white;
}
.dogjogging{
    margin-top: 70px;
    background-image: url(image/dog-jogging.jpg);
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    border-bottom: 14px solid #ff9933;
    display: flex;
    background-repeat: no-repeat;
}
.media{
    /* padding: 90px; */
    text-align: center;
}
.media-title{
    margin: 0;
    padding-top: 55px;
    padding-left: 50px;
    font-size: 50px;
    color: #535353;
    font-weight: 700;
}
.media-text{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 65px;
    padding-left: 50px;

    font-size: 30px;
    color: #7ABEE9;
    font-weight: 300;
}
iframe{
    width: 90%;
    height: 90%;
    height: 650px;
}
.leave-a-messages{
    display: flex;
    text-align: center;
    justify-content: center;
}
.leave-a-message{
    width: 570px;
    height: 390px;
    margin: 20px 10px;
}
.leave-a-message img{
    margin-top: 50px;
    border-radius: 50%;
}
.day{
    font-size: 16px;
    color: #ffffff;
}
.artical-title{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
}
.artical-title:hover{
    color: #ff9933;
}
.statistics{
    background-image: url(image/mountain-person-dog.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;

    /* text-align: center;  */
    font-size: 30px;
    height: 70vh;
    margin-top: 50px;
}
.center{
    display: flex;
    justify-content: space-between;
}
.statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px 0;
}
.statistics-number{
    color: #ffffff;
    font-size: 60px;
}
.statistics-word{
    font-size: 24px;
    color: #ffffff;
} 
.ig p{
    color: #535353;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 60px 0;
}
.ig-photos{
    display: flex;
}
.ig-photos .ig-photo{
    position: relative;
    height: 274px;
    width: 25%;
}
.ig-photos img{
    width: 100%;
    display: block;
}
.ig-photos .ig-photo .ig-photo-cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.ig-photos .ig-photo .ig-photo-cover i{
    color: #fff;
    font-size: 40px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: .4s;
    font-size: 0;
}
.ig-photos .ig-photo .ig-photo-cover i:hover{
    cursor: pointer;
    background-color: rgba(255, 153, 51, .5);
    font-size: 50px;
}
.footer{
    background-color: #434f53;
    padding: 50px 0;
    text-align: center;
}
.footer-brand{
    display: flex;
    justify-content:center;
    align-items: center; 
    cursor: pointer;
}
.footer p{
    font-size: 50px;
    color: #ffffff;
    font-family: 'PT Serif', serif;
    font-weight: 700;
}
.footer-icons{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.footer-icons div{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #00aeef;
    color: #fff;
    margin: 30px 4px;
    border-radius: 2px;
    transition: .3s;
}
.footer-icons div:hover{
    filter: opacity(0.8);
}
.footer-icons > :nth-child(2){
    background-color: #547CD5;
}
.footer-icons > :nth-child(3){
    background-color: #CC3300;
}
.footer-icons > :nth-child(4){
    background-color: #0075B6;
}
.footer-words p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 15px 0;
}
.footer-words span{
    color: #fff;
}

.footer-words span:hover{
    color: #ff9933;
    cursor: pointer;
}
.footer-words span .fa-phone-alt{
    color: #ff9933;
    transition: .3s;
}
.footer-words a{
    color: #fff;
    transition: .3s;
}
.footer-words a:hover{
    color: #ff9933;
}














