.hamburger{
    width: 40px;
    height: 40px;
    position: relative;
    background-color: rgba(255, 169, 10, 0.774);
    display: block;
    border-radius: 6px;


    /* border-radius: 0%; */
    transform: scale(1);
    transition: border-radius .2s, transform .2s .2s cubic-bezier(0,1.11,.94,.06) ;
}
.hamburger span{
    width: 36px;
    height: 3px;
    background-color: rgb(223, 116, 16);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: .2s;
}
.hamburger span:first-child{
    transform: translateY(-6px);
    background-color: green;
}
.hamburger span:last-child{
    transform: translateY(6px);
    background-color: red;

}
#menu-control{
    display: none;
}
#menu-control:checked ~ .hamburger{
    transform: scale(1.2);
    background-color: rgb(255, 208, 0);
    /* border-radius: 6px; */
}
#menu-control:checked ~ .hamburger span:nth-child(2){
    display: none;
}
#menu-control:checked ~ .hamburger span:first-child{

    transform: translateY(0px) rotate(45deg);
    width: 28px;

}
#menu-control:checked ~ .hamburger span:last-child{
    transform: translateY(0px) rotate(135deg);
    width: 28px;
}
nav{
    position: fixed;
    top: 60px;
    width: 20%;
    height: calc(90vh - 60px);
    bottom: 0;
    left: -100%;
    background-color: rgb(162, 245, 151);
    transition: left 1s .2s;
}
nav a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Noto Sans TC', sans-serif;
}
nav a:hover{
    background-color: rgb(133, 161, 240);
}
#menu-control:checked ~ nav{
    left: 0;
}
