* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sameformat {
    width: 960px;
    margin: auto;
    position: relative;

    .toyota-video {
        // display: flex;
        justify-content: center;
        // text-align: center;
        align-items: center;
        position: relative;
        /* z-index: 1; */
        position: relative;
        margin-top: 100px;
        .toyota-innovation{}



        
    }

    .color-block {
        width: 439px;
        height: 290px;
        bottom: 300px;
        right: 0;
        background-color: #eeeeee;
        position: absolute;
        z-index: -1;
    }
    .toyota-info{
        display: block;
        width: 355px;
        .title-name{
            background-color:red($color: #ce0808);
            p{
                
                justify-content: center;
                text-align: center;
                align-items: center;
                font-size: 100px;
                line-height: 0.8;

            }
        }
        .title-text{

        }
    }


}



.toyota-info p {
    writing-mode: vertical-lr;

}

.title-name {
    display: flex;
}